:root {
  --header-font: "Poppins";
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: var(--header-font);
  color: #6070ff;
  line-height: 1.6;
  background: #e5e5e5;
}

.header {
  display: flex;
  background-image: url("img/background.png");
  flex-direction: column;
  position: relative;
  border-bottom-left-radius: 5rem;
  height: 100vh;
  width: 37.5rem;
  overflow: hidden;
  margin-bottom: 12rem;
  background-color: #ffff;
  background-position: center;
  background-size: contain;
}

.header-img {
  position: absolute;
  width: 42rem;
  height: 59rem;
  left: -3.4rem;
  top: 10.04rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem;
}

.logo {
  color: #6070ff;
  font-family: var(--header-font);
  font-style: normal;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2rem;
  text-decoration: none;
}

.heading-info {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 12rem 2rem 2rem 2rem;
}

.heading-one {
  font-family: var(--header-font);
  font-style: normal;
  font-weight: 700;
  font-size: 4rem;
  line-height: 5.2rem;
  align-items: flex-start;
  color: #172b4d;
  margin-bottom: 1rem;
}

.heading-paragraph {
  font-family: var(--header-font);
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #344563;
}

.heading-links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 2rem;
}

.link-connect {
  font-family: var(--header-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #7f8cff;
}

.heading-icons {
  list-style: none;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.heading-icon {
  margin-right: 1.5rem;
}

.work-section {
  overflow: hidden;
  display: grid;
  grid-template-rows: repeat(6, minmax(1fr, auto));
  gap: 0.1rem;
  padding: 1.6rem;
  margin: 0 1.5rem 12rem 1.5rem;
  width: 35rem;
  height: fit-content;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 1.6rem;
  -webkit-border-radius: 1.6rem;
  -moz-border-radius: 1.6rem;
  -ms-border-radius: 1.6rem;
  -o-border-radius: 1.6rem;
}

.section-img {
  grid-row: 1/3;
  width: 29.5rem;
  height: 22rem;
  border-radius: 0.8rem;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  -ms-border-radius: 0.8rem;
  -o-border-radius: 0.8rem;
  margin: 1rem auto;
}

.section-heading {
  grid-row: 3;
  align-self: start;
  font-family: var(--header-font);
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 4.4rem;
  color: #172b4d;
  margin: 1rem 1rem 0 0;
}

.section-sub-info {
  grid-row: 4;
  display: flex;
  align-items: center;
  width: 100%;
  height: 1.6rem;
  margin: 2rem 1rem 0 0;
}

.section-text-black {
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.6rem;
  color: #344563;
  text-transform: uppercase;
  margin-right: 1rem;
}

.dot {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 0.8rem;
  height: 0.8rem;
  background: #c1c7d0;
}

.section-text-grey {
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.6rem;
  color: #7a869a;
  margin: 0 1rem 0 1rem;
}

.section-paragraph {
  grid-row: 5;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #344563;
  width: 90%;
  margin: 3rem 1rem 0 0;
}

.section-info-btn {
  grid-row: 6;
  display: flex;
  margin: 1.5rem 1rem 0 0;
}

.info-btn {
  display: flex;
  align-items: center;
  background: #ebebff;
  padding: 1rem;
  height: 2.4rem;
  border-radius: 0.8rem;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  -ms-border-radius: 0.8rem;
  -o-border-radius: 0.8rem;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6070ff;
  margin-right: 1rem;
}

.info-list {
  list-style: none;
  display: flex;
}

.btn {
  grid-row: 7;
  border: 1px solid #6070ff;
  background-color: transparent;
  border-radius: 8px;
  padding: 1.6rem;
  margin: 3rem 1rem 0 0;
  width: 40%;
  height: 5rem;
  font-weight: 500;
  white-space: nowrap;
  font-size: 1.7rem;
  line-height: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.03em;
  color: #396df2;
  cursor: pointer;
}

.btn:hover {
  background: #6070ff;
  color: #fff;
}

.btn:active {
  background: #2230d2;
  color: #fff;
}

.btn:disabled {
  color: #5e6c84;
  border: 1px solid #5e6c84;
}

.section-about {
  display: flex;
  flex-direction: column;
  border-top-right-radius: 5rem;
  overflow: hidden;
  width: 37.5rem;
  height: fit-content;
  padding-bottom: 7rem;
  margin-bottom: 12rem;
  background-color: #fff;
}

.about-heading {
  margin: 5rem 0 0 2rem;
  width: 20%;
}

.section-about-heading {
  font-weight: 700;
  font-size: 4rem;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.about-paragraph {
  margin: 0.5rem 2rem 0.5rem 2rem;
}

.about-text {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #344563;
}

.about-btn {
  margin: 1rem 0 1rem 2rem;
}

.about-languages {
  display: flex;
  flex-direction: column;
  margin: 1.5rem 0 1rem 2rem;
}

.about-language-heading {
  font-weight: 500;
  font-size: 2rem;
  color: #000;
}

.about-language-list {
  list-style-type: none;
  margin-top: 2rem;
}

.language-list {
  display: flex;
  align-items: center;
  width: 303px;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
  margin-top: 1rem;
}

.language-icon {
  width: 4.8rem;
  height: 4.8rem;
  border: 1px solid #fff;
  margin: 0 2rem 0 1rem;
}

.language-name {
  font-weight: 500;
  font-size: 1.5rem;
  color: #253858;
}

.section-about-links {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.section-about-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 2rem;
  color: #000;
  margin: 0 2rem 0 2rem;
  padding: 2rem 1rem 2rem 1rem;
  border-bottom: 1px solid #dfe1e6;
}

.right-arrow {
  width: 2rem;
  height: 2rem;
  fill: #acb7c3;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
