:root {
  --header-font: "Poppins";
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: var(--header-font);
  color: #6070ff;
  line-height: 1.6;
}

.header {
  display: flex;
  background-image: url("img/background.png");
  flex-direction: column;
  position: relative;
  border-bottom-left-radius: 0.5rem;
  height: 100vh;
  width: 39rem;
  overflow: hidden;
  background-position: center;
  background-size: contain;
}

.header-img {
  position: absolute;
  width: 37rem;
  height: 59rem;
  left: -3.4rem;
  top: 10.04rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem;
}

.logo {
  color: #6070ff;
  width: 7.6rem;
  height: 2rem;
  font-family: var(--header-font);
  font-style: normal;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2rem;
}

.heading-info {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 12rem 2rem 2rem 2rem;
}

.heading-one {
  font-family: var(--header-font);
  font-style: normal;
  font-weight: 700;
  font-size: 4rem;
  line-height: 5.2rem;
  align-items: flex-start;
  color: #172b4d;
  margin-bottom: 1rem;
}

.heading-paragraph {
  font-family: var(--header-font);
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #344563;
}

.heading-links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 2rem;
}

.link-connect {
  font-family: var(--header-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #7f8cff;
}

.heading-icons {
  list-style: none;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.heading-icon {
  margin-right: 1.5rem;
}
